.BurgerMenu {
	display: none;
	flex-flow: column;
	width: 6%;
	height: 100%;
	justify-content: center;
	cursor: pointer;
}

.Line {
	width: 100%;
	height: 3px;
	margin-bottom: 4px;
	background-color: #fff;
}

@media (max-width: 499px) {
	.BurgerMenu {
		display: flex;
	}
}
